.rounded_image {
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.rounded_image.px75 {
    width: 75px;
    height: 75px;
}

.rounded_image.px125 {
    width: 125px;
    height: 125px;
}